@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
  min-height: 100%;
  width: 100%;
}

html {
  display: flex;
}

body {
  align-self:center;
}

.s7p-bg-img {
  background-image: url('../images/transparent_logo.png'), linear-gradient(to right bottom, rgba(254,198,234,0.46), rgba(255,255,255,0.46)), url('../images/bg.png');
  background-position: center, center, center;
  background-size: auto 80%, contain, cover;
  background-repeat: no-repeat ;
  background-attachment: fixed;
}

.s7p-bg-paper {
  background-image: url('../images/paper-bg.png');
  /* background-size: cover; */
  background-repeat: no-repeat;
}

 /* Style the buttons that are used to open and close the accordion panel */
 .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0.25rem 0.5rem;
  background-color: #fff;
  display: none;
  overflow: hidden;
} 

.accordion:after {
  content: '\002B'; /* Unicode character for "plus" sign (+) */
  font-size: 15px;
  font-weight: 700;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
}

input[type="text"]:disabled {
  border: none;
  border-bottom: solid;
  border-radius: 0;
  color: rgb(236, 72, 153);
  font-weight: bolder;
}

table.stripped tr:nth-child(even) {
  background-color: #f2f2f2;
}